@model IEnumerable<pasteleria_dd.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tamanio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sabor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relleno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Datos_extra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo_electronico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tamanio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sabor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relleno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Datos_extra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo_electronico)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
